<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="result.css">

</head>
<body>
    <div class="main-div">
        <h1>Scan Me</h1>
        <img src="<%= passing %>" alt="" width="200px">
       <p>Your QR Code has been generated</p>
        <a href="/">Back</a>
    </div>
</body>
</html>